.logo {
  position: absolute;
  top: 40vh;
  left: 40vw;
  width: 20vw;
  height: 20vh;
}
@keyframes hideshow {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.logo {
    animation: hideshow 3s ease infinite, rotation 1s ease infinite;
}