aside {
  margin-top: 31%;
  position: absolute;
}
.logo {
  position: absolute;
  top: 1%;
  left: 35%;
  width: 30%;
  height: 30%;
}
@keyframes hideshow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.logo {
  animation: hideshow 3s ease;
}
.plan {
  position: relative;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
.nrj {
  position: relative;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 10%;
}
