aside {
  margin-top: 31%;
}
.logo {
  position: absolute;
  top: 1%;
  left: 35%;
  width: 30%;
  height: 30%;
}
@keyframes hideshow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.logo {
  animation: hideshow 3s ease;
}
.plan {
  position: absolute;
  top: 1%;
  left: 35%;
  width: 30%;
  height: 30%;
}
