aside {
  margin: 100%;
}
.logo {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}
@keyframes hideshow {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.logo {
  animation: hideshow 3s ease infinite, rotation 1s ease  infinite;
}
.plan {
  width: 0px;
  height: 0px;
}
img {
  width: 0px;
  height: 0px;
}
.button {
  width: 0px;
  height: 0px;
}
button {
  width: 0px;
  height: 0px;
}
