aside {
  width: 25%;
  min-width: 250px;
  max-width: 500px;
  margin: 25px auto;
}
.logo-wrap {
  height: 0;
  padding-top: 10%;
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@keyframes hideshow {
  100% { opacity: 0; }
}
.logo {
  animation: hideshow 3s ease infinite;
}
